fastapi
uvicorn[standard]

sqlalchemy
pyodbc

pydantic
pydantic-settings
email-validator

python-jose
passlib
bcrypt
python-multipart

websockets
aiofiles

python-dotenv

openai
httpx
requests

jinja2

numpy
pandas
scikit-learn
joblib

pytest